name: CI

on:
  push:
  pull_request:
  repository_dispatch:
    types: [run_build]

jobs:
  build:
    runs-on: ubuntu-latest
    container: ps2dev/ps2toolchain:latest
    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        apk add build-base git

    - name: Compile project
      run: |
        make clean all install
        ln -sf "$PS2SDK/ee/lib/libps2sdkc.a" "$PS2DEV/ee/ee/lib/libps2sdkc.a"
        ln -sf "$PS2SDK/ee/lib/libkernel.a"  "$PS2DEV/ee/ee/lib/libkernel.a"
        
    - name: Compile samples
      if: ${{ success() }}
      run: |
        cd $PS2SDK/samples
        make
        tar -zcvf samples.tar.gz ./

    - name: Upload artifacts
      if: ${{ success() }}
      uses: actions/upload-artifact@v2
      with:
        name: gsKit-samples-${{github.sha}}.tar.gz
        path: examples.tar.gz
